[submodule "Goemon64RecompSyms"]
	path = Goemon64RecompSyms
	url = https://github.com/klorfmorf/Goemon64RecompSyms/
[submodule "mnsg"]
	path = mnsg
	url = https://github.com/klorfmorf/mnsg
[submodule "N64Recomp"]
	path = N64Recomp
	url = https://github.com/N64Recomp/N64Recomp.git
